@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

body {
    --text-color: var(--p-surface-0);
    padding: 5rem;
    background-color: var(--p-surface-950);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    font-weight: 400;
}

.card {
    --card-border: 1px solid transparent;
    --card-background: var(--p-surface-900);
    background: var(--card-background);
    border: var(--card-border);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 2rem;
}
